<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>{% block title %}Port Cros{% endblock %}</title>
 
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
	  
    {% endblock %}
  </head>
 
  <body>
    <div class="container">
      {% block menu %}
		  {% endblock %}
 
 
    <div class="row">

		<div id="menu" class="span2">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <ul class="nav nav-pills nav-stacked">
            
			
   <h5> Bienvenue {{ app.user.username }}</h5>
   <a href="{{ path('fos_user_change_password') }}">changer mot de passe</a><br>
   <!--<a href="{{ path('fos_user_profile_show') }}">afficher detail</a>
   <a href="{{ path('fos_user_registration_register') }}">Enregistrer un utilisateur</a><br>-->
	<a class="btn" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

       </ul>
{% endif %}
			
			
			
         
                     
         {# {{ render(controller("PnpcScopsBundle:Default:menu", {'nombre': 3})) }}#}
        </div>
        <div id="content" class="span11">
          {% block body %}
          {% endblock %}
        </div>
     </div>
	 
      <hr>

     <!--  <footer>
        <p>Built by Alpha. All rights reserved</p>
      </footer> -->

    </div>
	</div>
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bootstrap/js/script.js') }}"></script>
  <script language="JavaScript" src="{{ asset('bundles/.../js/jquery.js') }}"></script>  
 <script language="JavaScript" src="{{ asset('bundles/.../js/jquery-ui.js') }}"></script>  
 <script language="JavaScript" src="{{ asset('bundles/.../js/jquery.autocomplete.js') }}
  {% endblock %}
 
  </body>
</html>
