{% extends "PnpcUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <label>Equipe de Baguage</label>
    <select name="choix">
  		<option selected disabled>--------choix de l'équipe--------</option>
  		<option value="scops">Scops</option>
  		<option value="tortue">Tortue d'Hermann</option>
  		<option value="cistude">Cistude d'Europe</option>
  		<option value="admin">Administration</option>
	</select> <br />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}