{% extends "PnpcTortueHermannBundle::layout.html.twig" %}
 
{% block title %}
  Suppression - {{ parent() }}
{% endblock %}
 
{% block intern_body %}
 

  <h2>Supprimer un document</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'enregistrement n° {{ documents.id }} ?
  </p>

  {# On met l'id de l'article dans la route de l'action du formulaire #}
  <form action="{{ path('pnpc_scops_supprimerdoc', {'id': documents.id}) }}" method="post">
    <a href="{{ path('pnpc_scops_doc') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour aux documents
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}
